@model AspNetCoreMVC_Front_Back_End_SQLServer.Models.Aluno

@{
    ViewData["Title"] = "Create";
}
<h2 align="center">Cadastro de Aluno</h2>
<div class="container-fluid">
    <form asp-action="Create">
        <div class="form-row">
            <div class="col-md-2">
                <label>ID</label>
                <input asp-for="Id_aluno" type="text" class="form-control is-valid" placeholder="ID" />
            </div>
            <div class="col-md-5">
                <label>Nome</label>
                <input asp-for="Nome" type="text" class="form-control is-valid" id="nome_aluno" placeholder="Nome" />
            </div>
            <div class="col-md-5">
                <label>Sobrenome</label>
                <input asp-for="Sobreome" type="text" class="form-control is-valid" id="Sobrenome" placeholder="Sobrenome" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <label>RG</label>
                <input asp-for="RG" type="text" class="form-control is-valid" id="RG_aluno" placeholder="RG" />
            </div>
            <div class="col-md-7">
                <label>CPF</label>
                <input asp-for="CPF" type="text" class="form-control is-valid" id="cpf_aluno" placeholder="CPF" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                <label>E-mail</label>
                <input asp-for="E_mail" type="email" class="form-control" id="emial_aluno" placeholder="exemplo@tecmsoluction.com">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
            </div>
            <div class="col-md-4">
                <label>Código da Escola</label>
                <input asp-for="Id_esc" type="text" class="form-control" placeholder="" />
                <p>
                    <div class="form-group" align="right">
                        <a asp-action="List" class="btn btn-info">Voltar para Listat</a>
                        <input type="submit" name="salvar" class="btn btn-success" value="Salvar" />
                    </div>

            </div>
        </div>
</form>
</div>





